@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">UniLink</h1>
        <p class="lead">Discover and explore your educational path forward with us.</p>
        @*<p><a href="../Home/About.cshtml"\ class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Multimedia University</h2>
            <a href="https://www.mmu.edu.my/" target="_blank"><img style="width: 350px; margin: 2px; height: 300px;" src="~/Images/web-banner-campus-melaka-mobile.jpg" /></a>
            <p>A Premier Digital Tech University and being a trendsetter of the private higher learning provider in Malaysia.</p>
            <p><a class="btn btn-outline-dark" href="https://www.mmu.edu.my/" target="_blank">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Universiti of Malaya</h2>
            <a href="https://www.um.edu.my/" target="_blank"><img style="width:350px;margin:2px; height:300px; " src="~/Images/slide_5ccfe917a8b765d96b1c0e52b0.jpg" /></a>
            <p>The University of Malaya is a public research university located in Kuala Lumpur, Malaysia.</p>
            <p><a class="btn btn-outline-dark" href="https://www.um.edu.my/" target="_blank">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Universiti Sains Malaysia</h2>
            <a href="http://www.usm.my/" target="_blank"><img style="width:350px;margin:2px; height:300px; " src="~/Images/drone3.jpg" /></a>
            <p>affordability, and appropriateness, USM has set its Research focus to be "a pioneering, trans-disciplinary research intensive university.</p>
            <p><a class="btn btn-outline-dark" href="http://www.usm.my/" target="_blank">Learn more &raquo;</a></p>
        </section>
        <h2 style="font-weight:bolder">Why Pick UniLink?</h2>
        <p>They're are several reasons why you should consider <span style="font-weight:bold">UniLink</span> we offer a full care package of handling your student visa, airport pick up,and we will assist you with finding a suitable housing depending on your budget for a better studying experience</p>
    </div>
</main>